<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
          <hibernate-configuration>
            <session-factory>
               <property name="hbm2ddl.auto">update</property>   
               <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
               <property name="connection.url">jdbc:mysql://localhost:3306/hibernatetest</property>
               <property name="connection.username">root</property>
               <property name="connection.password">root</property> 
               <property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
               <!-- <mapping class="one_to_one.bean.Person"/>
               <mapping class="one_to_one.bean.PersonalDetails"/> -->
               <!-- <mapping class="one_two_many.bean.Student"/>
               <mapping class="one_two_many.bean.Collage"/> -->
               <!-- <mapping class="many_to_many.bean.Event"/> 
               <mapping class="many_to_many.bean.Delegate"/>  -->
               <!-- <mapping class="imageUpload.bean.ImageWrapper"></mapping> -->
               <mapping class="user_Registration.bean.User"/>
               <mapping class="user_Registration.bean.Address"/>
            </session-factory>
          </hibernate-configuration>